/2.Pandas.Series
/3.Pandas.DataFrame
/4.Работа с различными источниками данных в Pandas
/7. Статистические методы
/8. Фильтрация данных в DataFrame
/9. Закрепление знаний
/data
/img
/Py9
/Py11_1.Введение
/Py11_2. Базовые операции со столбцами DataFrame
/Py11_3. Работа с датами в DataFrame
/Py11_4. Создание и преобразование столбцов с помощью функций
/Py11_5. Тип данных Category
/Py12
/Py13
/Py14
/Py15
/Py16
/.vscode
py.py
dst-3.0_16_1_hh_database.csv
ExchangeRates.zip
/temp
settings.json